In [1]:
import pandas as pds
import numpy as np

# loading data

In [2]:
df0_pre = pds.read_csv('real_data/df_control_pre_treatment.csv.gz')

df0_post = pds.read_csv('real_data/df_control_post_treatment.csv.gz')

df1_pre = pds.read_csv('real_data/df_treated_pre_treatment.csv.gz')

df1_post = pds.read_csv('real_data/df_treated_post_treatment.csv.gz')

df0 = pds.read_csv('real_data/df_control_cohort.csv.gz')

df1 = pds.read_csv('real_data/df_treated_cohort.csv.gz')

# summary cohort

In [10]:
df0.columns

Index(['patid', 'pracid', 'linkdate', 'region', 'gender', 'start_exp', 'd_yob',
       'start_date', 'end_date', 'cvd_CPRD_ind', 'cvd_CPRD_date',
       'cvd_CPRD_ind_ctv3', 'cvd_CPRD_date_ctv3', 'cprdmedcode', 'ctv3',
       'cvd_CPRD_ind_old', 'cvd_CPRD_date_old', 'cvd_HES_date', 'cvd_HES_ind',
       'cvd_ONS_date', 'cvd_ONS_ind', 'cvd_date', 'cvd_ind', 'bp_med_prscd',
       'statins_prscd', 'statinuser', 'renal_ind', 'renal_date',
       'rheumatoid_arthritis_ind', 'rheumatoid_arthritis_date',
       'depression_ind', 'depression_date', 'SLE_ind', 'SLE_date',
       'Migraine_ind', 'Migraine_date', 'Severe_mental_illness_ind',
       'Severe_mental_illness_date', 'Dementia_ind', 'Dementia_date',
       'Atrial_fibrillation_ind', 'Atrial_fibrillation_date', 'gen_ethnicity',
       'townsend_20', 'death_date', 'death_ind', 'diab_ind',
       'diab_type_uncertainty', 'diab_type', 'diab_date'],
      dtype='object')

In [9]:
df0.head()

,patid,pracid,linkdate,region,gender,start_exp,d_yob,start_date,end_date,cvd_CPRD_ind,...,Atrial_fibrillation_ind,Atrial_fibrillation_date,gen_ethnicity,townsend_20,death_date,death_ind,diab_ind,diab_type_uncertainty,diab_type,diab_date
0,1127,127,17/06/2015,5,Male,2004-04-01,1937-07-01,2004-04-01,2015-07-17,NaN,...,NaN,NaN,NaN,6.0,NaN,0,0,NaN,NaN,NaN
1,1171,171,13/09/2014,2,Female,2004-04-01,1938-07-01,2004-04-01,2014-08-15,NaN,...,NaN,NaN,White,18.0,NaN,0,0,NaN,NaN,NaN
2,1209,209,03/12/2015,2,Male,2004-04-01,1947-07-01,2008-12-30,2015-12-15,NaN,...,NaN,NaN,White,1.0,NaN,0,0,NaN,NaN,NaN
3,1273,273,26/06/2014,5,Male,2004-04-01,1959-07-01,2004-04-01,2014-03-26,NaN,...,NaN,NaN,NaN,9.0,NaN,0,0,NaN,NaN,NaN
4,1345,345,08/05/2014,8,Female,2004-04-01,1947-07-01,2004-04-01,2012-10-24,NaN,...,NaN,NaN,White,10.0,2012-10-24,1,0,NaN,NaN,NaN

### Count

In [55]:
df0.shape[0]

336969

In [56]:
df1.shape[0]

96311

### Gender

In [13]:
df0.gender.value_counts() / df0.shape[0]

Male      0.513092
Female    0.486908
Name: gender, dtype: float64

In [14]:
df1.gender.value_counts() / df1.shape[0]

Male      0.592892
Female    0.407108
Name: gender, dtype: float64

### Age

In [26]:
df0['age'] = 2004 - df0['d_yob'].str[:4].astype('double')
df1['age'] = 2004 - df1['d_yob'].str[:4].astype('double')

In [27]:
df0['age'].median()

60.0

In [28]:
df1['age'].median()

61.0

### Townsend index

In [29]:
df0['townsend_20'].median()

8.0

In [30]:
df1['townsend_20'].median()

8.0

### Ethnicity - Not to include

In [ ]:
df0['gen_ethnicity'].value_counts() / df0['gen_ethnicity'].shape[0]

In [34]:
df1['gen_ethnicity'].value_counts() / df1['gen_ethnicity'].shape[0]

White         0.555721
Unknown       0.016862
Indian        0.004475
Other         0.003821
Bl_Carib      0.002118
Oth_Asian     0.002087
Pakistani     0.001526
Bl_Afric      0.001236
Mixed         0.001204
Chinese       0.000768
Bl_Other      0.000592
Bangladesi    0.000343
Name: gen_ethnicity, dtype: float64

In [36]:
df0['gen_ethnicity'].isna().sum() / df0['gen_ethnicity'].shape[0]

0.5028266695155934

In [37]:
df1['gen_ethnicity'].isna().sum() / df1['gen_ethnicity'].shape[0]

0.40924712649645417

### Comorbidity

In [38]:
df0['cvd_ind'].value_counts() / df0.shape[0]

1.0    0.090142
Name: cvd_ind, dtype: float64

In [39]:
df1['cvd_ind'].value_counts() / df1.shape[0]

1.0    0.163325
Name: cvd_ind, dtype: float64

In [40]:
df0['renal_ind'].value_counts() / df0.shape[0]

1.0    0.12529
Name: renal_ind, dtype: float64

In [41]:
df1['renal_ind'].value_counts() / df1.shape[0]

1.0    0.167426
Name: renal_ind, dtype: float64

In [46]:
df0['Dementia_ind'].value_counts() / df0.shape[0]

1.0    0.035143
Name: Dementia_ind, dtype: float64

In [47]:
df1['Dementia_ind'].value_counts() / df1.shape[0]

1.0    0.029031
Name: Dementia_ind, dtype: float64

In [51]:
df0['depression_ind'].value_counts() / df0.shape[0]

1.0    0.219252
Name: depression_ind, dtype: float64

In [52]:
df1['depression_ind'].value_counts() / df1.shape[0]

1.0    0.213288
Name: depression_ind, dtype: float64

In [53]:
df0['Atrial_fibrillation_ind'].value_counts() / df0.shape[0]

1.0    0.042594
Name: Atrial_fibrillation_ind, dtype: float64

In [54]:
df1['Atrial_fibrillation_ind'].value_counts() / df1.shape[0]

1.0    0.04092
Name: Atrial_fibrillation_ind, dtype: float64